@import 'tailwindcss';

.marquee {
  animation: marquee 20s linear infinite;
  will-change: transform;
}

.marquee2 {
  animation: marquee2 25s linear infinite;
  will-change: transform;
}

.group:hover .pause-on-hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
